.App {
  text-align: center;
}

#containerr {
  text-align: center;
}

/** background-image: url('https://i.imgur.com/cQWyGiN.jpeg');*/
body {
  background-image: url('https://i.imgur.com/gtOdQWu.jpeg');
  background-position: center;
  background-origin: content-box;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  font-family: 'Noto Sans', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  margin: -20px 0 50px;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
  box-sizing: border-box;
}

h1 {
  font-weight: bold;
  margin: 0;
}

h2 {
  text-align: center;
}

p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

span {
  font-size: 12px;
}

a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

button {
  border-radius: 20px;
  cursor: 'pointer';
  background-color: #39b6b9;
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

button:active {
  transform: scale(0.95);
}

form {
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
  padding-top: 70px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
}

input {
  background-color: #eee;
  border: none;
  padding: 15px 25px;
  margin: 8px 0;
  width: 100%;
}

.container {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 600px;
  max-width: 100%;
  min-height: 700px;
}

/**-------------------------------- */

.entry-social {
  margin-bottom: 20px;
  color: rgb(126, 126, 126);
  display: block;
  font-family: 'Open Sans', Tahoma, Verdana, Arial, sans-serif, Faruma, Faseyha;
  font-size: 14px;
  font-weight: normal;
  height: auto;
  line-height: 23.799999237060547px;
  margin-bottom: 20px;
  width: 100%;
  width: 100%;
  float: left;
  border: solid 0px #aaa;
  text-align: center;
}

.entry-social div {
  display: block;
  width: 138px;
  margin: 2px;
  display: inline-block;
}

.entry-social a {
  text-decoration: none;
  display: block;
  padding-left: 20px;
  color: #ffffff !important;
  font-weight: bold;
  transition: background-color 0.3s;
}

.entry-social .fb a {
  padding: 7px 10px 7px 26px;

  background: #3b5999
    url('https://3.bp.blogspot.com/-yqD2363XuAo/UeDk98twSlI/AAAAAAAAArg/kXIzFBWmczM/s1600/fb14.png')
    no-repeat 10px center;
}

.entry-social .gplus a {
  padding: 7px 10px 7px 32px;
  background: #d54135
    url('https://3.bp.blogspot.com/-A8fFRexz_zk/UeDlgadvpiI/AAAAAAAAArw/TRd7NWNwo9s/s1600/gplus14.png')
    no-repeat 10px center;
}

.entry-social .linkedin a {
  padding: 7px 10px 7px 32px;
  background: #136f9b
    url('https://4.bp.blogspot.com/-yuEMxhpIXPc/UeDltjBGR1I/AAAAAAAAAr4/kgidavlGbY8/s1600/linkedin14.png')
    no-repeat 10px center;
}

.entry-social .fb a:hover {
  background-color: rgb(50, 75, 129);
}

.entry-social .gplus a:hover {
  background-color: rgb(191, 52, 40);
}
.entry-social .linkedin a:hover {
  background-color: rgb(15, 89, 125);
}
