.App {
  text-align: center;
}




body {
  background-image: url('https://i.imgur.com/cQWyGiN.jpeg');
  background-position: center;
  background-origin: content-box;
  background-repeat: no-repeat;
  background-size: cover;
min-height:100vh;
font-family: 'Noto Sans', sans-serif;

}

